{{> head}}
<body>
{{> header}}
<div class="content">
    <div class="error-block">
        <img class = "error-dog" src="{{img}}" alt="">
        <img class = "error-message" src="/img/error.png" alt="">
    </div>
</div>
</body>
</html>